.idea/
Database/
Additional_scripts/
Create_observed.pyc
Euler.py
Euler_data/
Euler_test.py
Example_code_PT_Inversion.py
Forward_problem.pyc
Get_Parameters.pyc
Green_functions.pyc
Grid_search.py
Inversion_problems.pyc
MCMC.pyc
MCMC_pymc.pyc
MCMC_stream.pyc
Metropolis_hasting.pyc
Misfit.pyc
Neighborhood_algorithm.pyc
Parallel_tempering.pyc
Plots.pyc
Plots/
Post_Processing.pyc
Question_8.py
Results/
Seismogram.pyc
Source_code.pyc
Tuning_scripts/
Validation_MH.py
__pycache__/
compearth/
iris.csv
log.csv
mars_pictures/
mpi_lars.py
pymc.py
seaborn.txt
source_inversion.py
source_test.py
test.mseed
test.pyc
test_mcmc.py
testdata.tar
testdata/
testspec_STS2.png
try_out.py
unit_sphere.py
Metropolis_Hasting.py
Neighborhood_algorithm.py
